@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle at center, #b6ffce, #ffffff);
  color: black;
}

h1 {
  @apply font-black;
  font-size: 43px;
  font-family: "Poppins", sans-serif;
}

h3 {
  @apply font-medium;
  font-size: 22px;
}

h4 {
  @apply font-medium;
  font-size: 18px;
}

h5 {
  @apply font-medium;
  font-size: 14px;
}

label {
  @apply font-medium;
  font-size: 14px;
}

p {
  @apply font-normal;
  font-size: 16px;
  color: #525252;
}

.noInput {
  @apply text-sm px-1 w-24;
}

.noInput:focus {
  outline: none;
}

.inputText {
  @apply rounded-lg font-light pl-2 py-1 text-black placeholder:text-[#999999];
  width: 300px;
  font-size: 16px;
  border-width: 1px;
  border-radius: 6px;
}

.inputText:focus {
  outline: none;
}

input[type="password"] {
  @apply rounded-lg font-light pl-2 py-1 text-black placeholder:text-[#999999];
  width: 300px;
  font-size: 16px;
  border-width: 1px;
  border-radius: 6px;
}

input[type="password"]:focus {
  @apply shadow-lg shadow-blue-100 border-blue-400;
  color: black;
  outline: none;
}

button[type="submit"] {
  @apply bg-emerald-500 text-white text-sm shadow-md shadow-emerald-100 drop-shadow-md border-1 border-emerald-600;
  border-radius: 6px;
}

button[type="submit"]:hover {
  @apply bg-emerald-400;
}

.buttonLink {
  @apply bg-emerald-500 text-white text-sm shadow-md shadow-emerald-100 drop-shadow-md border-1 border-emerald-600;
  border-radius: 6px;
}

.buttonLink:hover {
  @apply bg-emerald-400;
}

.buttonDisabled {
  @apply bg-gray-100 cursor-not-allowed text-gray-500 text-sm py-2 shadow-md drop-shadow-md border-1 border-gray-300;
  border-radius: 6px;
}

.buttonCancel {
  @apply bg-gray-100 text-gray-500 text-sm  shadow-md drop-shadow-md border-1 border-gray-300;
  border-radius: 6px;
}

.border-1 {
  border-width: 1px;
}

.straight-line {
  border-left: 1px solid black;
  height: 100%;
}

hr {
  @apply w-48 mx-auto bg-gray-200 border-0 rounded;
  height: 1px;
  width: 570px;
}

.add {
  position: absolute;
  /* top: 50px;
  left: 50px; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color de fondo del div de primer plano */
  @apply flex justify-center items-center;
}

.inputWithEmoji {
  @apply flex justify-start items-center gap-x-1 shadow-sm rounded-lg px-2 py-1;
  border-width: 1px;
}

.inputWithEmoji:focus-within {
  color: black;
  outline: none;
}

.scroll-div {
  max-height: 102px;
  overflow: auto;
}

.errorMsg {
  @apply text-xs text-red-400;
}

.dropdown-content {
  @apply rounded-lg flex flex-col items-start justify-center  w-32;
  position: absolute;
  top: 23px;
  right: -110px;
  background-color: white;
  border-width: 1px;
}
